@import url('https://fonts.googleapis.com/css?family=Economica');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0 auto 6px 5px;

}

.about-us {
  margin: 15px;
}

.footer-bp {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.Photos {
  width: 30%;
  height: 30%;
}

#map-container {
  height: 640px;
  width: 45%;
  padding: 5px;
  margin: 5px;
  /* margin-left: 50%;  */
  float: right;
  /* position: absolute; */
 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.About-header {
  font-family: 'Economica', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .nav-list {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'Trade Winds', cursive;
  
}

.li {
  float: right;
  display: block;
  padding: 20px;
  border-right: 1px solid #bbb;
  font-family: 'Trade Winds', cursive;
}
#link{
  color: white;
  
}
.li:hover{
  background-color: rgb(177, 132, 74);
}
/* .logo{
  float: left;
  color: white;
} */

.logo{
  float: left;
  color: white;
  padding: 15px;
  list-style: none; 
}


 
  
  .burger { display: block; list-style-type: none; background: #000; }
  .burger ul { text-align: center; }
  .li {  display: inline-block; width: 15%; list-style: none; background: #000; color: #fff; }
  /* .two{float:right} */
  .burger li a {  display: block; padding: 15px; text-decoration: none; color: #fff; transition: 0.8s; }
  .burger li a:hover { background: #4183c4; color: #fff; }
  
  .burger label { display: none; }
  #menu-toggle { display: none; }
  
  @media all and (max-width: 700px) and (min-width: 0px) {
  .burger label { display: block; height: 70px; width: 70px; line-height: 70px; text-align: center; color: #fff; font-size: 1.8rem; background: #000; cursor: pointer; }
  
  .burger li { width: 100%; }
   .nav { display: block; }
  /* .burger :active .nav { display: none;  } */
  }


.borough{
  color: rgb(116, 243, 12);
  position: absolute;
  margin-left: 20px;
  padding-top: 20px;
  word-wrap: break-word;

  
  width: 25%;
  height: 80%;
  overflow: auto;  
  
}
